*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.say{
    max-width: 1200px;
    margin: 0 auto;
}
.container{
    box-shadow: -11px 10px 15px -3px rgba(0,0,0,0.1);
}
.sss{
    font-size: 20px;
}